<launch>
    <arg name="vehicle_name" />
    <arg name="qgc_hostname" />
    <arg name="camera_calibration_file" default="$(find mjpeg_cam)/config/front_camera.yaml" />
    <group ns="$(arg vehicle_name)">
        <node pkg="hardware_interfaces" type="light_node" name="light" />
        <node pkg="hardware_interfaces" type="barometer_node" name="barometer" />
        <node pkg="hardware_interfaces" type="camera_servo_node" name="camera_servo" />
        <node name="esc_commander" pkg="hardware_interfaces" type="esc_commander" output="screen" />
        <node name="mixer" pkg="fav_sim" type="simple_mixer" output="screen">
            <rosparam command="load" file="$(find fav_sim)/config/mixer_default.yaml" />
        </node>
        <node name="imu" pkg="hardware_interfaces" type="imu_bridge_node" output="screen" />
    </group>
    <include file="$(find mjpeg_cam)/launch/mjpeg_cam_run.launch">
        <arg name="vehicle_name" value="$(arg vehicle_name)" />
        <arg name="calibration_file" value="$(arg camera_calibration_file)" />
    </include>
</launch>
